@import 'variable';
@import 'mixin';

.card-product{
    max-width: 40%; 
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

p{
    font-size: 1.4rem;
}

.information{
    grid-column: 2/3;
    grid-row: 1/2;
}

.product_price{
    grid-column: 2/2;
    grid-row: 2/3;
}

.section-img{
    grid-column: 1/2;
    grid-row: 1/3; 
    img{
    @include border-radius (0px, 15px, 0, 15px);
    height: 100%;     
}
}